@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

#dc {
   background-color: #5864f2;
   padding: 50px;
   border-radius: 20px;
   width: 95%;
   margin: 50px auto;

   h1 {
      font-family: "Chakra Petch", sans-serif;
      color: white;
      text-align: center;
   }
}